*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6e2;
}

.navbar-bg {
    background-color: #d4c098;
}

.container-fluid {
    padding: 0;
}

.imagen-carousel {
    object-fit: cover;
    height: 500px;
    padding-bottom: 20px;
}

.imagenes-carta {
    height: 400px;
}

.texto-cartas:hover {
    color: #5f3711;
    text-decoration: underline;
}

.titulo-uno {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;

}

.titulo-uno:hover {
    text-decoration: underline;
}

.cafe-colombiano {
    width: 300px;
    height: 300px;
}